<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test webcam IP</title>
    <style type="text/css"></style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}"/>
    <script src="{{ url_for('static',filename='script/script.js') }}"></script>
</head>
<body class="main" onpageshow="onShow('{{ ip_camera }}', '{{ log_level }}', '{{ detection }}', '{{ jeealert }}', '{{ recording }}', '{{ streaming }}')">
<header>
    <div>
        <ul>
            <li>
                <div id="photo" style="text-align: center">
                    <img style="vertical-align:middle; width: 70px; height: 70px; margin-right: 3%" src="{{url_for('static', filename='logo.png')}}" alt="">
                    <span class="titre" style="vertical-align:middle; font-size: xx-large">Vidéo surveillance</span>
                </div>
            </li>
        </ul>
    </div>
</header>

<div class="superCol left">
    <div class="container">
        <div class="iframe-container">
            <iframe id="snap" width="560" height="315" frameborder="0" style="display: none"></iframe>
            <iframe id="live" frameborder="0"></iframe>
        </div>

        <div class="title" style="margin-bottom: 10%; margin-top: 0.5%">
            <h2 style="float: left;margin-left: 10%">Vidéo en direct</h2>
            <div class="go-live" onclick="showLive('{{ ip_camera }}')">
                <img class="img_live" width="10px" height="10px" src="{{url_for('static', filename='live.png')}}"
                     alt="img" style="display: inline-block;">
                <p style="display: inline-block;">Live</p>
            </div>
            <div>
                <button class="button" style="background: #242424; color: #cccccc" onclick="popup('settings')">
                    <img height="30px"
                         width="30px"
                         src="{{url_for('static', filename='baseline_settings_white_24dp.png')}}">
                </button>
                <button class="button" style="background: #242424; color: #cccccc" onclick="takePic('{{ ip_camera }}')">
                    <img height="30px"
                         width="30px"
                         src="{{url_for('static', filename='camera.png')}}">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="superCol right">
    <div class="historique">
        <h2 class="date">Vidéos</h2>

        {% for video in videos %}
        <div class="vignette row" onclick="showVideo('{{ video.linkVid }}')">
            <div class="column">
                <img src="{{ video.linkPic }}" width="100px">
            </div>
            <div class="column">
                <h4>{{ video.title }}</h4>
                <span>{{ video.date }}</span>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

</body>
</html>
