<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test webcam IP</title>
    <style type="text/css" ></style>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
    <script src="{{ url_for('static',filename='script/script.js') }}"> </script>
</head>
<body>
<header>
    <div>
        <ul>
            <li><h3>Vidéo surveillance</h3></li>
        </ul>
    </div>
</header>


<div class="container">
    <div class="iframe-container">
        <iframe width="560" height="315" frameborder="0" src="http://192.168.68.103:8080/videofeed"></iframe>
    </div>
</div>

<div>

</div>

<div class="container">
    <div class="row">
        <div class="column">
            <div class="titleBox"><h3>Vos actions</h3></div>
            <button onclick="takePic()">Prendre une photo</button>
            <button onclick="showActivity()">voir dernières activités</button>
            <button onclick="showParam()">paramètres</button>

            <div class="activity" id="activity">
                <button>voir dernière activité</button>
                <button>voir dernière activité</button>
                <button>voir dernière activité</button>
                <button>voir dernière activité</button>
            </div>

        </div>
        <div class="column">
            <div class="container param" id="param">
                <div class="iframe-container">
                    <h3>paramètres</h3>
                    <iframe src="http://192.168.68.103:8080/settings_window.html"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
