<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test webcam IP</title>
    <style type="text/css"></style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/style.css') }}">
    <script src="{{ url_for('static',filename='script/script.js') }}"></script>
</head>
<body>
<header>
    <div>
        <ul>
            <li><h3>Vidéo surveillance</h3></li>
        </ul>
    </div>
</header>

<div class="superCol left">
    <div class="container">
        <div class="iframe-container">
            <iframe id="snap" width="560" height="315" frameborder="0" style="display: none"></iframe>
            <iframe id="live" frameborder="0" src="http://192.168.68.103:8080/videofeed"></iframe>
        </div>

        <div class="title" style="margin-bottom: 10%; margin-top: 0.5%">
            <h2 style="float: left;margin-left: 5%">Vidéo en direct</h2>
            <div class="go-live" onclick="showVideo('http://192.168.68.103:8080/videofeed')">
                <img class="img_live" width="20px" height="20px" src="{{url_for('static', filename='live.png')}}"
                     alt="img" style="display: inline-block;">
                <p style="display: inline-block;">Live</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="column">
                <div class="titleBox"><h3>Vos actions</h3></div>
                <button onclick="takePic()">Prendre une photo</button>
                <button onclick="showActivity()">voir dernières activités</button>
                <button onclick="showParam()">paramètres</button>
                <div class="activity" id="activity">
                    <button onclick="showVideo('http://127.0.0.1:5000/get-video/franklin.mp4')">voir dernière activité
                    </button>
                    <button onclick="showVideo('http://127.0.0.1:5000/get-video/deamon.mp4')">voir dernière activité
                    </button>
                    <button>voir dernière activité</button>
                    <button>voir dernière activité</button>
                </div>
            </div>
            <div class="column">
                <div class="container param" id="param">
                    <div class="settings">
                        <h3>paramètres</h3>
                        <div style="height: 100%">
                            <form id="formSettings">
                                <article>
                                    <label for="logLevel">Log level</label>
                                    <select id="logLevel">
                                        <option value="">--Veuillez choisir une option--</option>
                                        <option value="logF">Faible</option>
                                        <option value="logM">Moyen</option>
                                        <option value="logE">Élevé</option>
                                    </select>
                                </article>

                                <article>
                                    <label for="purge">Nombre de jours avant la purge</label>
                                    <input id="purge" type="number" name="purge" placeholder="ex: 12">
                                </article>

                                <iframe class="iframeSettings" height="660px" src="http://192.168.68.103:8080/settings_window.html"></iframe>

                                <article>
                                    <input type="submit" value="Valider" name="valider">
                                </article>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="superCol right">
    <div class="historique">
        <u>
            <h2 class="date">Aujourd'hui</h2>
            <h2 class="date">Hier</h2>
        </u>
    </div>
</div>


</body>
</html>
