<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paramètres</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/style.css') }}">
    <script src="{{ url_for('static',filename='script/script.js') }}"></script>
</head>
<body onpageshow="onShow2('{{ ip_camera }}', '{{ log_level }}', '{{ detection }}', '{{ jeealert }}', '{{ recording }}', '{{ streaming }}')">

    <div class="container2">
        <div>
            <div>
                <div id="param">
                    <div class="settings">
                        <h3>Paramètres</h3>
                        <div style="height: 100%">
                            <form id="formSettings" name="config" method="post" action="/update_config/">
                                <article>
                                    <label for="ip">Adresse IP de la caméra</label>
                                    <input class="btn1" type="text" name="ip" id="ip" placeholder="adresse IP">
                                </article>

                                <article>
                                    <label for="logLevel">Log level</label>
                                    <select id="logLevel" name="logLevel">
                                        <option value="">--Veuillez choisir une option--</option>
                                        <option value="Faible">Faible</option>
                                        <option value="Moyen">Moyen</option>
                                        <option value="Haut">Élevé</option>
                                    </select>
                                </article>

                                <article>
                                    <label for="purge">Nombre de jours avant la purge</label>
                                    <input class="btn1" id="purge" type="number" value="{{ purge }}" name="purge"
                                           placeholder="ex: 12">
                                </article>

                                <article>
                                    <label for="detection">Détection</label>
                                    <label id="detection" class="switch">
                                        <input class="btn1" id="detectionCB" type="checkbox" name="detection">
                                        <span class="slider round"></span>
                                    </label>
                                </article>

                                <article>
                                    <label for="jalerte">Alerte</label>
                                    <label id="jalerte" class="switch">
                                        <input class="btn1" id="jalerteCB" type="checkbox" name="jalerte">
                                        <span class="slider round"></span>
                                    </label>
                                </article>

                                <article>
                                    <label for="recording">Enregistrement</label>
                                    <label id="recording" class="switch">
                                        <input class="btn1" id="recordingCB" type="checkbox" name="recording">
                                        <span class="slider round"></span>
                                    </label>
                                </article>

                                <article>
                                    <label for="stream">Live</label>
                                    <label id="stream" class="switch">
                                        <input class="btn1" id="streamCB" type="checkbox" name="stream">
                                        <span class="slider round"></span>
                                    </label>
                                </article>

                                <iframe id="settings" class="iframeSettings" height="660px"></iframe>

                                <article class="btn2">
                                    <div>
                                        <input class="swagg" type="submit" name="valider" value="Enregistrer" id="valider"/>
                                    </div>
                                    <div>
                                        <button class="swagg" onclick="fermer();return false">Fermer</button>
                                    </div>
                                </article>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>