h1, h2, h3, h4, h5, h6, p, button, option, label {
    font-family: Monospace, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #242424;
    background: -webkit-linear-gradient(to left, #242424, #222222);
    margin: 0;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    background-color: #242424;
    color: #F5F5F5;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 6vh;
    margin-bottom: 3em;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header h3 {
    margin-left: 5%;
    font-size: xx-large;
}

header li {
    display: inline;
    margin-left: 2%;
    width: 10%;
    height: 10%;
}
header a{
    color: #F5F5F5;
    padding-bottom: 2%;
}

.superCol {
    float: left;
}
.right {
    width: 15%;
}
.left {
    width: 85%;
}

.iframe-container {
    overflow: hidden;
    position: relative;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.iframe-container iframe {
    border: 0;
    height: 95%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.iframeSettings {
    border: 0;
    width: 99.5%;
    margin: 1% auto;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #262626;
    text-align: center;
}

.container:last-child {
    margin-bottom: 15%;
    padding-bottom: 2%;
}

.activity {
    width: 60%;
    height: 10em;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background: #485F6E;
}

.param, .activity {
    display: none;
}

.settings {
    height: 850px;
}

.img_live{
    height: 20%;
}

.go-live {
    width: 6%;
    float: right;
    margin-right: 5%;
    background: #ffffff;
    border-radius: 25px
}
.go-live img {
    margin-right: 2%;
}

.go-live:hover {
    cursor: pointer;
}

.settings {
    background: #ffffff;
}

article {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.historique {
            padding-top: 0%;
            border: 1cm;
            width: 3px;
            height: 100%;
            position: absolute;
            background-color: darkgrey;
            color: #ededed;
        }

        .date {
            color: #ededed;
            padding-left: 1cm;
        }

        .container {
            margin-right: 30%;
        }